.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  padding: 0 19px;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.modal__container {
  position: relative;
  background-color: #fff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
}

.modal__close {
  background: url(../images/Close.svg);
  position: absolute;
  top: -45px;
  right: -45px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  color: #ffffff;
}

.modal__close:hover {
  cursor: pointer;
}

.modal__heading {
  color: #000;
  margin: 0 31px 54px 0;
  width: 330px;
  height: 23px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  line-height: 1.2;
  font-size: 24px;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  padding: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid;
  border-width: 1px;
  line-height: 1.2;
  font-weight: 400;
  font-size: 14px;
  border-color: rgba(0, 0, 0, 1);
  font-family: "Inter", Arial, sans-serif;
  max-width: 358px;
  height: 27.26px;
}

.modal__title {
  margin: 0 0 29.74px;
}

.modal__description {
  margin: 0 0 48px;
}

.modal__button {
  width: 358px;
  height: 50.15px;
  color: white;
  background-color: black;
  font-family: "Inter", Arial, sans-serif;
  line-height: 1.2;
  font-weight: 400;
  font-size: 18px;
  border-radius: 2px;
  padding: 0;
}

.modal__button:hover {
  cursor: pointer;
}

.modal__image-container {
  background-color: transparent;
  max-width: 75vw;
  max-height: 75vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  height: auto;
  width: auto;
  margin: auto;
}

.modal__preview-image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__preview-title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  height: 16px;
  text-align: left;
}

.modal__button_disabled {
  background: #f6f6f6;
  border: 1px solid #000;
  color: #000;
  opacity: 0.2;
  cursor: default;
}

.modal__input_type_error {
  border-color: #ff0000;
}

.modal__error {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #ff0000;
  position: absolute;
  left: 0;
  top: calc(100% + 6px);
  opacity: 0;
  transition: opacity 1s;
}

.modal__error_active {
  opacity: 1;
}

@media screen and (max-width: 680px) {
  .modal__heading {
    width: 260px;
  }

  .modal__form {
    align-items: stretch;
  }

  .modal__title {
    max-width: 295px;
  }

  .modal__description {
    max-width: 295px;
  }

  .modal__button {
    max-width: 295px;
  }
}

@media screen and (max-width: 320px) {
  .modal__close {
    top: -45px;
    right: -0px;
    height: 26px;
    width: 26px;
  }

  .modal__container {
    padding: 25px 22px;
  }

  .modal__heading {
    margin: 0 0 75px 0;
    width: 238px;
    height: 22px;
  }

  .modal__title {
    margin: 0 0 30px;
    max-width: 238px;
    height: 27px;
  }

  .modal__description {
    margin: 0 0 45px;
    max-width: 238px;
    height: 27px;
  }

  .modal__button {
    max-width: 238px;
    height: 46px;
  }
}
