.header {
  max-width: 880px;
  border-bottom: 1px solid;
  border-color: rgba(84, 84, 84, 0.7);
}

.header__image {
  width: 173px;
  height: 33px;
  margin: 0 0 41px 0;
}

@media screen and (max-width: 1080px) {
  .header__image {
    margin-left: 27px;
    max-width: calc(100% - 194px);
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 320px) {
  .header__image {
    width: 126px;
    height: 24px;
  }
}
